#container {
  margin: 20px;
}

#container p {
  display: inline;   
}

#container::before {
    content: "Before Element"; 
    color: red; 
}

#container::after {
    content: "After Element"; 
    color: red; 
}